@import '../variables';

.wrapper {
  background: #ffffff;
  border-radius: 5px;
  margin: 22px 28px 20px 26px;
  min-height: 550px;
  .header {
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 22px 0 0 28px;
    }
    div {
      margin: 17px 23px 0 0;
      cursor: pointer;
    }
  }
  .description {
    margin: 35px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .parent {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      p {
        input {
          width: 800px;
          font-size: 16px;
        }
      }
      button {
        font-size: 18px;
        line-height: 21px;
        background: #ffffff;
        cursor: pointer;
        padding: 4px 6px 4px 6px;
        border-radius: 5px;
        border: none;
        width: 98px;
        margin-top: 12px;
        // margin-left: 900px;
        &:hover {
          background: $blue-main;
          color: #ffffff;
        }
      }
    }

    .date {
      color: #737373;
      font-style: italic;
      padding-top: 15px;
    }
    .status {
      color: #ffffff;
      background: $blue-main;
      align-self: flex-start;
      margin-top: 100px;
      font-weight: bold;
      padding: 8px 20px;
      border-radius: 20px;
    }
  }
  .not-found {
    display: flex;
    justify-content: space-between;
    h2 {
      padding: 28px;
    }
    div {
      margin: 17px 23px 0 0;
      cursor: pointer;
    }
  }
}
